
.open-sans-normal {
  font-family: "Open Sans", serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    width: 1280px;
    margin: 0 160px;
    background-color: #F5F5F5;
}
/* shared style */


/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.green-btn{
    color: #006A50;
    font-weight: bold;
    width: 116px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-size: 18px;
    /* margin-right: 160px; */
}

/* sriti shoudho section */
.bangladesh{
    display: flex;
    background-color: #C6E4D6;
    gap:60px;
    justify-content: space-between;
    border-radius: 24px;
    height: 560px;
}
.bangladesh-content{
    margin: 117px 0 117px 60px;
    width: 622px;
    height: 326px;
}
.bangladesh-text{
    /* width: 622px; */
    height: 246px;
    margin-bottom: 24px;
}
.bangladesh-heading{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.7);
    /* margin-bottom: 8px; */
}
.bangladesh-title{
    width: 622px;
    height: 201px;
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    line-height: 1;
    margin-top: 0px;
}
.bd-btn{
    width: 270px;
    height: 56px;
    border: 1px solid #006A50;
    border-radius: 8px;
    /* padding: 17px 34px; */
    color: white;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

.bd-image{
    width: 474px;
    height: 400px;
    margin: 80px 60px 80px 0;
}

/* header and bd part end */

/* main part start */

/* pillar css make */

.pillars{
    padding-top: 80px;
    height: 324px;
}
.pillars-card{
    display: flex;
    gap: 24px;
}

.pillars-card-inside{
    width: 302px;
    height: 244px;
    background-color: #ffff;
    border-radius: 16px;
    margin-top: 32px;
}

.pillars-card-image{
    width: 64px;
    height: 64px;
    margin: 24px 0 0 24px;
}

.pillars-card-text{
    margin: 24px;
}

.pillars-card-text-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin: 0 24px;
    margin-bottom: 12px;
}
.explain{    
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 400;
    line-height: 24px;
    margin: 0 24px 24px 24px;
}

/* vision part start */

.vision{
    height: 765px;
    padding: 80px 0;
}

.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding-bottom: 24px;
}
.description{
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 32px;
}

.vision-card{
    gap: 24px;
    margin: 32px 0;
    display: flex;
}
.vision-card-inside{
    width: 410px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.vision-card-image{
    margin: 32px 0 0 32px;
    width: 64px;
    height: 64px;
}
.vision-card-text{
    margin: 24px 32px;
}
.vision-card-text-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    margin-bottom: 12px;
}
.vision-explain{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    /* margin: 12px 32px 24px 32px; */
}

.btn-green{
    background-color: rgba(198, 228, 214, 1);
}
.btn-yallow
{
    background-color: rgba(247, 235, 207, 1);
}
 
.vision-button{
    width: 122px;
    height: 31px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(84, 144, 245, 1);
    border: none;
    margin-top: 24px;
}
.btn-one{
    background-color: #09A15C;
}

.btn-two{
    background-color: #FFC239;
}  

.vision-quote{
    /* height: 256px; */
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position:top 38px left 24px;
}

.quote-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
    /* margin: 12px 32px 24px 32px; */
}
.vision-quote-title{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}


/* opinion section */
.opinion{
    /* height: 481px; */
    /* padding-top: 80px; */
    /* padding-bottom: 80px; */
}
.opinion-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding-bottom: 24px;
}

.opinion-content{
    background-color: #FFFFFF;
    height: 409px;
    border-radius: 16px;
    padding: 32px;
}
.opinion-table{
    width: 1216px;
    height: 345px;
    border: 1px solid rgba(14, 14, 14, 0.71);
    border-collapse: collapse;
}

.opinion-th{
    padding:0 24px;
    height: 72px;
    font-weight: 600;
    font-size: 20px;
    background-color: #C6E4D6;
    color: #0E0E0E;
    /* text-align: left; */
}
.header-1{
    text-align: left;
}
.tb-data{
    height: 92px;
    padding: 0 24px;
    border: 1px solid rgba(14, 14, 14, 0.71);
    border-collapse: collapse;
    font-weight: 600;
    color: #0E0E0E;
    font-size: 16px;
}
.data-2{
    width: 200px;
    height: 92px;
    text-align: center;
}

.data-btn{
    height: 44px;
    width: 152px;
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background-color: #C6E4D6;
    font-weight: 600;
    font-size: 16px;
    color: #0E0E0E;
}


    