
.open-sans-normal {
  font-family: "Open Sans", serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    width: 1280px;
    margin: 0 160px;
    background-color: #F5F5F5;
}
/* shared style */


/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    color: #0E0E0E;
}

.green-btn{
    color: #006A50;
    font-weight: bold;
    width: 116px;
    height: 52px;
    border-radius: 8px;
    border: 1px solid #006A50;
    font-size: 18px;
    /* margin-right: 160px; */
}
.green-btn:hover{
    border: none;
    color: #0e0e0e;
    background-color: #c6e4d6;
    text-replace: auto;
}

/* sriti shoudho section */
.bangladesh{
    display: flex;
    background-color: #C6E4D6;
    gap:60px;
    justify-content: space-between;
    border-radius: 24px;
    height: 560px;
}
.bangladesh-content{
    margin: 117px 0 117px 60px;
    width: 622px;
    height: 326px;
}
.bangladesh-text{
    /* width: 622px; */
    height: 246px;
    margin-bottom: 24px;
}
.bangladesh-heading{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.7);
    /* margin-bottom: 8px; */
}
.bangladesh-title{
    width: 622px;
    height: 201px;
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    line-height: 1;
    margin-top: 0px;
}
.bd-btn{
    width: 270px;
    height: 56px;
    border: 1px solid #006A50;
    border-radius: 8px;
    /* padding: 17px 34px; */
    color: white;
    background-color: #006A50;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.bd-btn:hover{
    color: #FFFFFF;
    background-color: #FFC239;
    transition: auto;
}

.bd-image{
    width: 474px;
    height: 400px;
    margin: 80px 60px 80px 0;
}

/* header and bd part end */

/* main part start */

/* pillar css make */

.pillars{
    padding-top: 80px;
    height: 324px;
}
.pillars-card{
    display: flex;
    gap: 24px;
}

.pillars-card-inside{
    width: 302px;
    height: 244px;
    background-color: #ffff;
    border-radius: 16px;
    margin-top: 32px;
}

.pillars-card-image{
    width: 64px;
    height: 64px;
    margin: 24px 0 0 24px;
}

.pillars-card-text{
    margin: 24px;
}

.pillars-card-text-title{
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin: 0 24px;
    margin-bottom: 12px;
}
.explain{    
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 400;
    line-height: 24px;
    margin: 0 24px 24px 24px;
}

/* vision part start */

.vision{
    height: 765px;
    padding: 80px 0;
}

.vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding-bottom: 24px;
}
.description{
    font-size: 16px;
    color: #0E0E0E;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 32px;
}

.vision-card{
    gap: 24px;
    margin: 32px 0;
    display: flex;
}
.vision-card-inside{
    width: 410px;
    height: 325px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
}
.vision-card-image{
    margin: 32px 0 0 32px;
    width: 64px;
    height: 64px;
}
.vision-card-text{
    margin: 24px 32px;
}
.vision-card-text-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    margin-bottom: 12px;
}
.vision-explain{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    /* margin: 12px 32px 24px 32px; */
}

.btn-green{
    background-color: rgba(198, 228, 214, 1);
}
.btn-yallow
{
    background-color: rgba(247, 235, 207, 1);
}
 
.vision-button{
    width: 122px;
    height: 31px;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(84, 144, 245, 1);
    border: none;
    margin-top: 24px;
}
.vision-button:hover{
    background-color: aqua;
    color: #0E0E0E;
    transition: auto;
}
.btn-one{
    background-color: #09A15C;
}

.btn-two{
    background-color: #FFC239;
}  

.vision-quote{
    /* height: 256px; */
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position:top 38px left 24px;
}

.quote-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
    /* margin: 12px 32px 24px 32px; */
}
.vision-quote-title{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 4px;
}


/* opinion section */
.opinion{
    /* height: 481px; */
    /* padding-top: 80px; */
    /* padding-bottom: 80px; */
}
.opinion-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    padding-bottom: 24px;
}

.opinion-content{
    background-color: #FFFFFF;
    height: 409px;
    border-radius: 16px;
    padding: 32px;
}
.opinion-table{
    width: 1216px;
    height: 345px;
    border: 1px solid rgba(14, 14, 14, 0.71);
    border-collapse: collapse;
}

.opinion-th{
    padding:0 24px;
    height: 72px;
    font-weight: 600;
    font-size: 20px;
    background-color: #C6E4D6;
    color: #0E0E0E;
    /* text-align: left; */
}
.header-1{
    text-align: left;
}
.tb-data{
    height: 92px;
    padding: 0 24px;
    border: 1px solid rgba(14, 14, 14, 0.71);
    border-collapse: collapse;
    font-weight: 600;
    color: #0E0E0E;
    font-size: 16px;
}
.data-2{
    width: 200px;
    height: 92px;
    text-align: center;
}

.data-btn{
    height: 44px;
    width: 152px;
    border-radius: 4px;
    border: 1px solid #0E0E0E;
    background-color: #C6E4D6;
    font-weight: 600;
    font-size: 16px;
    color: #0E0E0E;
}

/* news part start */


.news{
    height: 1406px;
    padding: 80px 0;
}
.newa-head{
    height: 120px;
}
.news-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.news-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    padding-top: 24px;
    padding-bottom: 32px;
}
.news-content{
    height: 1254px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.news-main{
    height: 402px;
    background-color: #FFFFFF;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.news-img{
    width: 408px;
    height: 306px;
    padding: 48px 0 48px 48px;
}
.news-img-for2{
    padding: 0px 48px;
}
.news-main-img{
    border-radius: 24px;
}
.news-text{
    width: 744px;
    height: 290px;
    padding: 30px 48px 30px 0;
}
.news-likha{
    height: 210px;
    padding-bottom: 32px;
}
.news-text-title{
    font-weight: bold;
    font-style: 32px;
    color: #0E0E0E;
    /* padding-bottom: 12px; */
}
.news-img2{
    width: 134px;
    height: 40px;
    /* padding-bottom: 12px; */
}
.date-time{
    display: flex;
    gap: 12px;
    /* padding: 12px 0 12px 0; */
}
.news-description-under{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    /* line-height: 24px; */
    /* padding-bottom: 32px; */
}

.news-btn{
    width: 139px;
    height: 48px;
    background-color: #006A50;
    border-radius: 8px;
    margin-top: 13px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.news-btn:hover{
    background-color: #7AE9CD;
    color: #0E0E0E;
    transition: auto;
}
.news-btn-for2{
    padding-top: 20px;
}

/* donate start */

.donate{
    text-align: center;
    height: 464px;
    padding-top: 80px;
    padding-bottom: 80px;
}
.donate-title{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;
}
.donate-description{
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0E;
    padding-bottom: 32px;
}
.donate-card-box{
    text-align: center;
    display: flex;
    /* flex-direction: row; */
    gap: 24px;
    padding: 32px 104px;
    justify-content: space-between;
}
.donate-card-text{
    width: 240px;
    height: 128px;
    background-color: #FFFFFF;
    border:1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.donate-card-text-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.donate-card-text-title-for2{
    background-color: rgba(198, 228, 214, 1);
}

.donate-box{
    width: 1032px;
    height: 64px;
    margin: 32px 124px;
    background-color: #FFFFFF;
    border:1px solid rgba(14, 14, 14, 0.15);
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    margin: 32px;
    text-align: center;
}
.donate-btn{
    width: 151px;
    height: 56px;
    background-color: #006A50;
    border: 1px solid #0E0E0E18;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.donate-btn:hover {
    background-color: #35f7c6;
  
    color: #0e0e0e;
    transition: 0.3s;
  }

/* newslatter start */
.latter {
    display: flex;
    align-items: center;
    height: 400px;
    border-radius: 24px;
    margin: 80px 0;
    background-color: #c6e4d6;
    text-align: center;
  }
  .latter-main {
    padding: 80px 265px 50px;
    width: 750px;
  }
  .latter-content {
    display: flex;
    margin-bottom: 24px;
  }
  .latter-input {
    width: 600px;
    height: 56px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    color: #0e0e0e4d;
    padding-left: 40px;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .latter-submit {
    width: 150px;
    height: 56px;
    background-color: #006a50;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
  }
  .latter-submit:hover {
    background-color: #35f7c6;
  
    color: #0e0e0e;
    transition: 0.3s;
  }

  /* newslater part end */

  /* footer part start */
  .footer{
    margin: auto 0;
    height: 226px;
    text-align: center;
    background-color: #FFFFFF;
  }
  .footer-head{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 40px;
  }

  .footer-title{
    width: 1122px;
    padding-bottom: 30px;
    border-bottom:2.5px solid rgba(14, 14, 14, 0.1) ;
  }

  .footer-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
  }
